[core]
	excludesfile = /Users/<INSERT_USER>/.gitignore_global
	editor = /usr/bin/vim
  autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	email = <USER_EMAIL>
	name = <USER_NAME>
[push]
  default = simple
[alias]
  s = status
  d = diff
  pr = pull --rebase
  ba = branch -a
  bd = branch -d
  co = checkout
  pu = push -u origin
  cb = checkout -b
  la = "!git config -l | grep alias | cut -c 7-"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  dlc = diff --cached HEAD^
  bl = branch --list
  clear = stash --keep-index --include-untracked
  lsa = log --graph --all --decorate --oneline
	sh = stash
	sa = stash apply
	pff = push

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
